*{
    margin: 0;
    padding: 0;
}



.box-one{
    background-color: cornflowerblue;
    width: 250px;
    height: 250px;
    border: 10px solid black;
    box-sizing:border-box;
    text-align: center;
    padding-top: 90px;


}

.box-two{
    background-color: blueviolet;
    width: 250px;
    height: 250px;
    border: 10px solid green;
    box-sizing:border-box;



}